:root {
  --plus-primary: #000608;
  --plus-secondary: #000608;
}

/* Example dark theme */
[data-theme="dark"] {
  --plus-primary: #3fcbfa;
  --plus-secondary: #3fcbfa;
}

.plus3d-wrapper {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #f3f3f3 0%, #e0e0e0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .plus3d-wrapper {
    height: 70vh;
  }
}
