.words-flow-section {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  padding: 7% 15px;
}

.flow-word {
  position: relative;
  font-weight: 700;
  color: #fff;
  font-size: 100px;
  mix-blend-mode: difference;
  line-height: 1;
  transform-origin: center;
  will-change: transform, opacity;
  display: block;
  padding: 15px;
  text-transform: uppercase;
}
