.hero-section {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: #000;
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
      border-bottom:1px solid rgba(0, 0, 0, 0.2) ;
}

.hero-word {
    display: inline-block;
}
