.main-loading-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #fff;
}

.loading-video {
  width: 200px; /* adjust size as needed */
  height: auto;
  object-fit: contain;
}
